<div class="row">
	  		<div class="col-md-3">

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Ontario</h3>
  </div>

<ul  class="items">
	<li><a href="/en/index.html">city Name</a></li>
	<li><a href="/en/index.html">city Name ghdfd</a></li>
	<li><a href="/en/index.html">city Name asdfasd</a></li>
</ul>

</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Price Range</h3>
  </div>
<div class="panel-body">
<form class="form-inline" role="form">
  <div class="form-group col-xs-5">
    <div class="input-group ">
      <input type="text" class="form-control" id="lowerRagne" placeholder="From">
    </div>
  </div>
  <div class="form-group col-xs-5">
<div class="input-group ">
    <input type="number" class="form-control" id="upperRange" placeholder="To">
  </div>
</div>
</form>
</div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">School</h3>
  </div>
<ul  class="items">
	<li><a href="/en/index.html">University Name</a></li>
	<li><a href="/en/index.html">University Name</a></li>
	<li><a href="/en/index.html">University Name</a></li>
	<li><a href="/en/index.html">University Name</a></li>
	<li><a href="/en/index.html">University Name</a></li>
	<li><a href="/en/index.html">University Name</a></li>
</ul>
</div>
	  			<button class="btn btn-default" ng-click="resetFilter()">Reset Filter</button>
	  		</div>

	  		<div class="col-md-9 boder-left-splitter">

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title
					<div class="sort-list pull-right">
						<ul>
							<li><a href="/">Distance</a></li>
							<li><a href="/web-design">Price</a></li>
							<li><a href="/it-consulting">Post Date</a></li>
						</ul>
					</div>
</h3>
  </div>



<table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td>1</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>5</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>6</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>7</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>8</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>9</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>5</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>6</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>7</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>8</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
        <tr>
          <td>9</td>
          <td>House Addess </td>
          <td>0.5 KM to School<span class="pull-right">$500 CAD</span></td>
        </tr>
      </tbody>
    </table>	  			
	  		</div>
		</div><!-- row -->
		
		<hr class="featurette-divider">