body {
	font-family: Arial, Helvetica, verdana, arial, sans-serif;
	font-size: 16px;
	border: 0 none;
}

.slide {
	width: 900px;	
}

.subtitle {
	padding-top: 32px;
	font-size: 18px;
	font-weight: bold;
	font-style:italic;
	color: #4D4D4D;
}

.subtitle-blue{
	padding-top: 0px;
	font-size: 16px;
	font-weight: bold;
	font-style:italic;
	color: #2EA8DB;
}

.main {
	padding-top: 70px;
	/* padding-bottom: 20px;*/
}

.navbar .navbar-nav > li {
	height: 50px;
	padding: 15px 40px 15px 0px;	
}

.navbar .navbar-nav>li>a {
	color: #000000;
}

.navbar .navbar-nav > li a {
	height: 25px;
	color: #383838;
	font-size: 16px;
	padding: 2px;
}

.navbar .navbar-nav > li a:hover, a.active {
	border-bottom: 2px solid #ba5454;
	/* background:#FFFFFF; */
	color: #428bca;
}
